<% layout('/layouts/boilerplate') -%>
<div class="row">
    <div class="col-8 offset-2 mt-3">
       <h2> <%= listing.title || "No Title" %> </h2>
        <div class="card listing-card">
            <img 
                src="<%= listing.image?.url || '/default.jpg' %>"
                alt="listing-img"
                class="card-img-top show-img"
                style="height: 20rem"
            />
            <div class="card-body">
                <p class="card-text mt-2">
                    <b><%= listing.description || "No description" %> </b><br>
                    &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> <br>
                    <%= listing.location || "No location" %> <br>
                    <%= listing.country || "No country" %> <br>
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="btns mb-2">
    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-2 add-btn">Edit</a>
    <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
        <button class="btn btn-dark offset-4">Delete</button>
    </form>
</div>
<br>  
<div class="col-8 offset-2 outlines mb-3  reviews">
 
    <h4> Leave -  a  - Review </h4>
       <form action="/listings/<%= listing.id %>/reviews" 
        class="mb-3 needs-validation" method="POST"
        novalidate 
        >
         <div class="mb-3 mt-3">
            <label for="rating">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
         </div>
          <div  class="mb-3 mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="review[comment]"
             id="comment" 
             cols="30" 
             rows="5"
             class="form-control" 
             required></textarea>
           <div class="invalid-feedback"> Please enter some valid comments </div>
         </div>
       
           <button class="btn btn-outline-dark">Submit</button>
       </form>
</div>
 <div class=" col-8 offset-2 mb-4 reviews">
    <h6>Reviews</h6>
         <% for(review of listing.reviews) { %>
            <div class="card col-6 mb-3 ms-3"> 
                  <div class="card-body">
                    <h5 class="card-title">Eleven</h5>
                     <p class="card-text"><%= review.comment %></p>
                     <p class="card-text"> ratings : <%= review.rating %>&Star;</p>
                  </div>
            </div>
        <% } %>
   
 </div>
    